
################################
# VENV / PYTHON
################################
.venv
.venv*
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

################################
# LOGS & RUNTIME DATA
################################
logs/
*/logs/
cowrie/var/log/
nids/logs/
attacker/logs/

################################
# DOCKER
################################
*.swp
*.pid

################################
# IDE / OS
################################
.vscode/
.idea/
.DS_Store
.qodo/

################################
# REPORTS / GENERATED
################################
*.pdf
*.zip

################################
# TEMP / CACHE
################################
.cache/
tmp/

